# Задание для самостоятельной работы.

Поработайте с классическим датасетом о пассажирах Титаника. Решите задачу классификации - выжил пассажир или нет.

Допускаются любые способы обработки данных и способы решения задачи. 

Метрика качества - accuracy.

Ваша цель на сегодня - обучить модель и сделать предсказание на данных test.csv, а затем отправить предсказание на Kaggle (см. https://www.kaggle.com/c/titanic/overview/evaluation).

Ссылка на соревнование: https://www.kaggle.com/c/titanic

In [1]:
import pandas as pd

df = pd.read_csv("titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#your code here
len(df)

891

In [6]:
Xtrain = df[['Pclass','Age','SibSp','Parch','Fare']]
Xtrain = Xtrain.fillna(0)
ytrain = df['Survived']

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

cross_val_score(RandomForestClassifier(n_estimators=50), Xtrain, ytrain, cv=3).mean()

0.6980920314253648

In [9]:
rf = RandomForestClassifier()

rf.fit(Xtrain, ytrain)

C:\Users\elena\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
Xtest = pd.read_csv("test.csv")
PassId = Xtest['PassengerId']
Xtest = Xtest[['Pclass','Age','SibSp','Parch','Fare']]
Xtest = Xtest.fillna(0)

predictions = rf.predict(Xtest)
Xtest['Survived'] = predictions
Xtest['PassengerId'] = PassId

Xtest[['PassengerId','Survived']].to_csv('MyFirstSubmit.csv')

#откройте сохраненный файл после выполнения ячейки и проверьте!