# Предсказание временных рядов с помощью машинного обучения

Поработайте с данными sunspot_numbers.xlsx - это данные о ежемесячном количестве наблюдаемых пятен на солнце.

Разбейте данные на train и test (test - последние 15% данных)

1) Сделайте предсказание с помощью fbprophet и измерьте mse и mae предсказания на train и на test

2) Поработайте над созданием новых признаков (лаги, аггрегированные признаки и т.д.) и примените для предсказания линейную регрессию и какой-нибудь нелинейный алгоритм.

3) Сравните результаты алгоритмов из п.1) и п.2)

4) Сделайте предсказание с помощью модели Хольта-Уинтерса и/или попробуйте применить модели ARIMA/SARIMA для предсказания.

Какая модель получилась наилучшей?

5) Попробуйте скомбинировать наилучшие модели.

In [1]:
import pandas as pd

df = pd.read_excel("sunspot_numbers.xlsx")

In [3]:
df

                    Month  SunspotNumbers
0                 1749-01            58.0
1                 1749-02            62.6
2                 1749-03            70.0
3                 1749-04            55.7
4                 1749-05            85.0
5                 1749-06            83.5
6                 1749-07            94.8
7                 1749-08            66.3
8                 1749-09            75.9
9                 1749-10            75.5
10                1749-11           158.6
11                1749-12            85.2
12                1750-01            73.3
13                1750-02            75.9
14                1750-03            89.2
15                1750-04            88.3
16                1750-05            90.0
17                1750-06           100.0
18                1750-07            85.4
19                1750-08           103.0
20                1750-09            91.2
21                1750-10            65.7
22                1750-11            63.3
23                1750-12            75.4
24                1751-01            70.0
25                1751-02            43.5
26                1751-03            45.3
27                1751-04            56.4
28                1751-05            60.7
29                1751-06            50.7
...                   ...             ...
2790  1981-07-01 00:00:00           143.8
2791  1981-08-01 00:00:00           158.7
2792  1981-09-01 00:00:00           167.3
2793  1981-10-01 00:00:00           162.4
2794  1981-11-01 00:00:00           137.5
2795  1981-12-01 00:00:00           150.1
2796  1982-01-01 00:00:00           111.2
2797  1982-02-01 00:00:00           163.6
2798  1982-03-01 00:00:00           153.8
2799  1982-04-01 00:00:00           122.0
2800  1982-05-01 00:00:00            82.2
2801  1982-06-01 00:00:00           110.4
2802  1982-07-01 00:00:00           106.1
2803  1982-08-01 00:00:00           107.6
2804  1982-09-01 00:00:00           118.8
2805  1982-10-01 00:00:00            94.7
2806  1982-11-01 00:00:00            98.1
2807  1982-12-01 00:00:00           127.0
2808  1983-01-01 00:00:00            84.3
2809  1983-02-01 00:00:00            51.0
2810  1983-03-01 00:00:00            66.5
2811  1983-04-01 00:00:00            80.7
2812  1983-05-01 00:00:00            99.2
2813  1983-06-01 00:00:00            91.1
2814  1983-07-01 00:00:00            82.2
2815  1983-08-01 00:00:00            71.8
2816  1983-09-01 00:00:00            50.3
2817  1983-10-01 00:00:00            55.8
2818  1983-11-01 00:00:00            33.3
2819  1983-12-01 00:00:00            33.4

[2820 rows x 2 columns]

In [ ]:
#your code here